body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #fff;
    
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type:none;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    color: #404bbf;
}

.logo-part{
    color: #2e2f42;
}

.nav-link{
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
.address
{   font-style:normal;
}
.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus{color: #404bbf;}
.effective{
    font-style: normal;
    background: #2e2f42;
     background-color: #404BBF cursor/ pointer;
}
    

.title {
    background: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    }


.button {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    background-color: #404BBF;
    cursor: pointer;
    background-color: #4D5AE5;
}
.button:hover{
   background-color: #404BBF;
}
.button:focus{
   color: #404bbf;
   background-color: #404BBF;
}
.advantages {
   font-style: normal;
   background-color: #F4F4FD;
   background-color: #FFFFFF;
    
}

.advantages-title-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    background: #f4f4fd;
    color: #2e2f42;
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.team-our {
    background-color: #FFFFFF;
}
.team-img {
    background-color: #FFFFFF;
    background: #f4f4fd;
}

.team-title-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    
}

.team-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
   

}
.portfolio {
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-title {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-title-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
}

.portfolio-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;}
  

.footer{
    background: #2e2f42;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.logo-studio-footer {
    color: #2e2f42;
    color: #f4f4fd;
}

.business-title-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
